[Desktop Entry]
Name=Namaste
Comment=namaste terminal
Exec=namaste
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
X-TerminalArgExec=-e
X-TerminalArgAppId=-c
X-TerminalArgTitle=-t
X-TerminalArgDir=-d
X-TerminalArgHold=-H
